// This file is included in the build if src/main.js imports
// either app.mat.styl or app.ios.styl.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

$small-text-size = 12px
$normal-text-size = 14px
$subtitle-text-size = 16px
$title-text-size = 18px

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the app.ios.styl or app.mat.styl files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

//$primary   = #3f51b5
//$secondary = #26A69A
$tertiary  = #555

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$primary   = #ef6c00
$secondary = #ba68c8

$chip-font-size          ?= $normal-text-size
$chip-icon-size          ?= 24px
$toolbar-min-height      ?= 50px
$tabs-padding-with-icon        ?= 7px 10px // 8px 10px
$tabs-min-height-with-icon     ?= 66px // 72px
$tabs-font-size                ?= .95rem
$tabs-pane-padding             ?= 0 // 12px
$tabs-pane-border              ?= none // 1px solid rgba(0, 0, 0, .1)

$slider-min-height       ?= 150px

$typography-font-family      ?= 'Roboto', 'YaHei Consolas Hybrid', 'Helvetica Neue', Helvetica, Arial, sans-serif